/* Add additional stylesheets below

/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
 // padding-top: 90px;
//  background-color: #fff;
 /* background-image: url(../img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px; */
}

/*
.services {
 .border-radius(6px);
 border: 3px solid @navbarSearchBorder;
 padding: 5px;
 //background-color: @blue;
 
}
*/


/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 25px;
  padding: 35px 0 35px;
  border-top: 1px solid #e5e5e5;
  //#gradient > .vertical(@btnBackgroundHighlight, @btnBackground);
  #gradient > .vertical(@grayDarker, @grayDark); //spin(@grayDarker, 15%
  .border-radius(4px);
  .box-shadow(~"0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)");
 // .box-shadow(0 1px 0 rgba(0,0,0,.25));
    h3, h4, p {
    margin-bottom: 0;
    color: #ffffff;    
    }
}
.footer h4, p {
  
}


/*
.kvs-box {
    border: 1px solid #e5e5e5;
}
*/

.pink-box {
    background:@pink;
    color:@white;
}

.background-services, .background-company, .background-contact {
  //  background-color: spin(@btnPrimaryBackground, 15%);
 /* h2, h3 {
      color:@pink;
  } */
  h3 {
     //   color:@pink;
        font-size: 20px;
        font-weight: 200;
  }
 /* 
  p.well-small {     
         font-size: 10px;   
  }
  */
}

.background-services {
    h1, h2, h3 {
      color:@pink;
    }
}



.background-company {
    h1, h2, h3 {
        color: @green; //#005514;
  }
}

.background-contact {
    ul {
       font-size: 12px;   
    }
    h1, h2, h3 {
        color: @orange; //#005514;
  }
  //  .box-shadow(~"0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)");
 // .box-shadow(0 1px 0 rgba(0,0,0,.25));
}

.right-unit
{
    text-align: right;   
}

.centered-unit {
 /* padding: 60px;
  margin-bottom: 30px;
  background-color: @heroUnitBackground;
  .border-radius(6px); */
  text-align: center; // Borce
  
  h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
   // color: @heroUnitHeadingColor;
    letter-spacing: -1px;
    
     display:inline;
     background-color:@black;
     color:@white;
  }
    h2 {
    display:inline;
    margin-bottom: 0;
    font-size: 50px;
    line-height: 1.2;
    //color: @black;
    color:@white;
    letter-spacing: -1px;
    //background-color:@white;
    background-color:@black;
  }
  p {
    font-size: 50px;
    font-weight: 200;
    line-height: 50px * 1.5;
   // color: @blue;
    color: @black;
  }
  
  
}

